.combining-block[b-oi0uckzo7v] {
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    color: black;
    background-color: lightgray;
}

[b-oi0uckzo7v] .qc-max-width-300 {
    max-width: 1500px;
    width: 100px;
}

