.combining-block[b-8rhw1042qt] {
    display : flex;
    flex-direction: row;
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    color: black;
    background-color: lightgray;
}

.locator-display-block[b-8rhw1042qt] {
    margin: 8px;
    opacity: 0.8;
    min-height: 300px;
    width: 100%;
    flex : 1;
    text-align: center;
    background-color: lightgray;
}
