@namespace Matrix.Prox3.IntelliZone.Blazor.Components

<div class="p-1">
    <div style="font-weight:bold">
        <b>  @header</b>
    </div>
    @if (value != null)
    {
        <div style="font-size:larger">
            @value
        </div>
    }
    else if (message != null)
    {
        <div style="font-size:larger">
            @message
        </div>
    }
</div>
@code {



    [Parameter]
    public string? header { get; set; }

    [Parameter]
    public int? value { get; set; }


    [Parameter]
    public string? message { get; set; }

}
