.combining-block {
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    Color: black;
    background-Color: lightgray;
}

.location-overview-block {
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    width: 33%;
    text-align: center;
    font-size: 100%;
    justify-items: center;
    align-items: center;
    Color: aliceblue;
}

.location-block {
    display: flex;
    flex-direction: row;
    width: 100%;

}