/*.oi-locator {
    width: 2rem;
   font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}*/

.locator-block {
    display: flex;
    flex-direction: row;
    margin: 8px;
    opacity: 0.8;
    min-width: 300px;
    max-width: 350px;
    height: 150px;
    text-align: center;
    Color: aliceblue;
    border-radius: 0.75rem;
    align-items: center;
    font-size: 4.5rem; /* 96px */
}
/*.locator-block {
    flex: 1;
    margin: 8px;
    opacity: 0.8;
    min-width: 300px;
    height: 150px;
    text-align: center;
    Color: aliceblue;
    border-radius: 0.75rem;
    font-size: 4.5rem;*/ /* 96px */
/*}*/



.locator-red {
    background-Color: red;
}

.locator-green {
    background-Color: green;
}


.mnid-block {
    flex: 1;
    margin: auto;
    text-align: center;
    Color: aliceblue;
    font-size: 2.75rem; /* 96px */
}
.name-block {
    flex: 1;
    margin: auto;
    text-align: center;
    Color: aliceblue;
    font-size: 1.75rem; /* 96px */
}

.battery-block {
    display: flex;
    width: 40%;
    justify-items: center;
    flex-direction: column;
    background-Color: inherit;
    Color: aliceblue;
    align-self: center;
    border-radius: 0.75rem;
    font-size: 2.25rem; /* 96px */
}

.battery-svg {
    height: 4rem;
    width: 4rem;
    align-self: center;
    Color: rgb(255 255 255);
}


.locator-red {
    background-Color: red;
}

.locator-green {
    background-Color: green;
}
