.combining-block[b-y2e4niii7k] {
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    color: black;
    background-color: lightgray;
}

.location-overview-block[b-y2e4niii7k] {
    display: flex;
    flex-direction: row;
    opacity: 0.8;
    width: 33%;
    text-align: center;
    font-size: 100%;
    justify-items: center;
    align-items: center;
    color: aliceblue;
}

.location-block[b-y2e4niii7k] {
    display: flex;
    flex-direction: row;
    width: 100%;

}