/*.combining-block {
    display : flex;
    flex-direction: row;
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    Color: black;
    background-Color: lightgray;
}*/




select.filter-select[b-etzt5azvs7]{
 
}



/*.info-display-block {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    opacity: 0.8;
    width: 100%;
    flex: 1;
    text-align: center;
    background-Color: lightgray;
}*/