/*.combining-block {
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    Color: black;
    background-Color: lightgray;
}*/

.view-export-block[b-b4itycw1ao] {
    display: flex;
    flex-direction: row;
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 80px;
    text-align: center;
    Color: black;
    background-Color: lightgray;
    align-items: center;
}

.locator-display-block[b-b4itycw1ao] {
    margin: 8px;
    opacity: 0.8;
    min-height: 300px;
    width: 100%;
    flex : 1;
    text-align: center;
    background-Color: lightgray;
}
