
nav[b-u0hpx3m2vr] {
    display: flex;
   
}

.top-row[b-u0hpx3m2vr] {

    background-Color: white;

    display: flex;
    justify-content: space-between; /* Change to space-between to separate the image and other elements */
    height: 4rem;
    align-items: center; /* Change to align-items to vertically center the items */
    padding: 5px;
    padding-bottom: 1rem; /* Add padding to the bottom */
    
}

    .top-row img.collapsedIcon[b-u0hpx3m2vr] {
        margin-right: auto; /* Ensure the image stays on the left */
    }

    .top-row[b-u0hpx3m2vr]  a, .top-row[b-u0hpx3m2vr]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-u0hpx3m2vr]  a:hover, .top-row[b-u0hpx3m2vr]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-u0hpx3m2vr]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 100.98px) {
    .top-row:not(.auth)[b-u0hpx3m2vr] {
        display: none;
    }

    .top-row.auth[b-u0hpx3m2vr] {
        justify-content: space-between;
    }

    .top-row[b-u0hpx3m2vr]  a, .top-row[b-u0hpx3m2vr]  .btn-link {
        margin-left: 0;
    }
}

.filter-container[b-u0hpx3m2vr] {
    display: flex; /* d-flex */
    flex-direction: column; /* d-md-block for medium screens and up */
    background-Color: white; /* Replace bg-secondary-subtle with white */
    border-radius: 0.75rem; /* rounded-3 */
    margin-bottom: 0.5rem; /* mb-2 */
    margin-top: 1.5rem; /* mt-5 */
    padding-bottom: 1rem; /* pb-3 */
    padding-top: 1rem; /* pt-3 */
}

.graph-container[b-u0hpx3m2vr] {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
    background-Color: white !important;
}
.collapsedIcon[b-u0hpx3m2vr] {
    padding: 5px;
    width: 7.5rem;
    height: 3rem;
    font-size: 1.5rem;
    float: left;
    margin-top: 0.75rem;
}

.quickgrid[theme=default][b-u0hpx3m2vr] {
    --col-gap: 0 !important;
}

@media (min-width: 641px) {
    .page[b-u0hpx3m2vr] {
        flex-direction: row;
    }

    /*.sidebar {
        width: 180px;
        height: 100vh;
        position: sticky;
        top: 0;
    }*/

    .top-row[b-u0hpx3m2vr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-u0hpx3m2vr]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-u0hpx3m2vr], article[b-u0hpx3m2vr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
