@namespace Matrix.Prox3.IntelliZone.Blazor.Components

<div class="d-flex flex-column container-fluid justify-content-center align-items-center ">
    <div>
        <span class="loader-medium"></span>
    </div>
    <div class="fw-bolder text-body-secondary">Loading Data..</div>
</div>
