/*.report-filter {
	width: 100%;
	padding-left: var(--bs-gutter-x,.75rem);
	padding-right: var(--bs-gutter-x,.75rem);
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	background-Color: lightgray;
	padding-bottom: var(--bs-gutter-x,.75rem);
	padding-top: var(--bs-gutter-x,.75rem);
}*/

::deep .report-filter-sticky {
	position: sticky;
	top: 0;
	z-index: 1020;

}

