.combining-block[b-g77nrtwp2y] {
    margin: 8px;
    opacity: 0.8;
    width: 900px;
    height: 100px;
    text-align: center;
    color: black;
    background-color: lightgray;
}

.locator-display-block[b-g77nrtwp2y] {
    margin: 8px;
    opacity: 0.8;
    min-height: 300px;
    width: 100%;
    flex : 1;
    text-align: center;
    background-color: lightgray;
}
.hover-row:hover[b-g77nrtwp2y] {
    background-color: #0000ff33;
}

.selected-row[b-g77nrtwp2y] {
    background-color: #0000ff77;
}