@namespace Matrix.Prox3.IntelliZone.Blazor.Components




        <div class="fw-bold">
            @BodyText
        </div>


@code {

    [CascadingParameter] BlazoredModalInstance MessageBox { get; set; } = default!;

    [Parameter]
    public string? BodyText { get; set; }

    private async Task Close() => await MessageBox.CloseAsync();
}

